* {
    margin: 0;
}

html {
    background-color: #fff;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    font-size: 20px;
    text-align: justify;
}

/*============= Styling header =============*/
header {
    width: 100%;
    position: static;
    display: flex;
}

nav {
    display: inline;
    top: 0;
    width: 100%;
    background-color: #7FE9DE;
    /* position: fixed; */
}

nav .wrapper {
    margin: auto;
    display: inline-block;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .main {
    padding-top: 60px;
}

/*============= Styling logo =============*/
nav .logo {
    float: left;
    position: relative;
    line-height: 60px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.205);
    margin: 10px 10px 10px 10px;
}

.img-logo {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgb(240, 199, 18);
}

.logo a {
    display: flex;
    text-decoration: none;
    flex-direction: row;
}

nav .name {
    display: inline;
    text-align: center;
    color: #000;
    font-family:'Trebuchet MS';
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    margin-left: -10px;
    margin-right: 20px;
    text-shadow: 2px 2px #fff;
}

/*============= Styling Menu =============*/
nav .menu {
    float: right;
    gap: 1em;
    /* position: relative; */
    background-color: rgba(90, 90, 90, 0.7);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
}

nav .menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

nav .menu ul li {
    float: left;
    list-style-type: none;
    line-height: 60px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 8px;
    transition: 0.3s ease;
}

nav ul li a {
    font-family: 'Trebuchet MS';
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #000;
    color: #fff;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.Sinyal {
    position: relative;
}

.dropdown {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 40px;
    left: 20px;
    }

.dropdown li {
    font-size: 17.5px;
    color: #fff;
    width: 8em;
    text-align: left;
}

.dropdown li a {
  background-color: transparent;
  text-decoration: none;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.Sinyal:hover .dropdown {
    transition: 0.3s ease;
    display: block;
}

/* input[type=checkbox]{
    display: none;
} */

.three-strips {
    /* display: none; */
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

#strip {
    color: #fff;
    height: 0px;
}


/*============= Styling Main Content =============*/
main {
    display: flex;
    padding: 0%;
    flex-direction: row;
    margin-top: 80px;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 0px;
    margin-bottom: 10px;
}

article {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}   

aside {
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    align-content: center;
    border-radius: 8px;
    margin: 20px 10px 40px 0px;
    width: 50%;
}

main p {
    font-size: 17.5px;
}
/*============= Profile =============*/


.img-profile {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    border-radius: 50%;
    background-color: #fff;
    border-color: #b1b1b1;
    border-style: solid;
}

.tg-wrap {
    padding: 5px 5px 5px 5px;
}

.tg-cont {
    border-color:none;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg-head{
    border-color:none;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
    margin:0px auto;
    border-color: none;
    text-align:left;
    vertical-align:top;
}

/*============= Section 1: Signal =============*/
.sig-inner {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 28px;
    color: #000;
}

h2 {
    font-size: 22.5px;
    color: rgb(20, 20, 20);
}

h3 {
    font-size: 20px;
    color: rgb(43, 43, 43);
}
.step {
    display: table;
}

.sig-main {
    background-color: #b1b1b1;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

#description {
    background-color: #b1b1b1;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

p {
    padding-bottom: 20px;
}

#img-wrapper {
    display: flex;
    position: relative;
    padding: 10px;
}

.responsive {
    display: block;
    margin: auto;
    width: 50%;
    min-width: 200px;
    height: auto;
    max-height: 50%;
    background-color: #fff;
}

/*============= Styling Footer =============*/
.foot-wrapper {
    width: 100%;
    background-color: #7FE9DE;;
    position: relative;
    list-style-type: none;
    align-items: center;
    text-align: center;
    line-height: 40px;
}



/*============= Adjust Screen Width =============*/

@media only screen and (max-width: 500px) {
    .menu {
        display: none;
        position: absolute;
        background-color:teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    nav .menu ul li {
        width: 100%;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
        line-height: 40px;
      }
    nav .menu ul li a {
        color: #333;
      }
    .three-strips {
        display: flex;
    }
    main {
        flex-direction: column;
    }

    aside {
        width: auto;
        margin: 10px 10px 10px 10px;
    }

    .img-profile {   
        width: 40%;
    }
}