* {
    margin: 0;
}

html {
    background-color: #fff;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    font-size: 20px;
    text-align: justify;
}

/*============= Styling header =============*/
header {
    display: flex;
    width: 100%;
    position: static;
}

nav {
    display: grid;
    width: 100%;
    background-color: rgb(2, 189, 42);
    position: sticky;
}

nav .wrapper {
    margin: auto;
}

/*============= Styling logo =============*/
nav .logo {
    float: left;
    position: relative;
    line-height: 60px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.205);
    margin: 10px 10px 10px 10px;
}

.img-logo {
    width: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: rgb(240, 199, 18);
}

.logo a {
    display: flex;
    text-decoration: none;
    flex-direction: row;
}

nav .name {
    text-align: center;
    color: #000;
    font-family:'Trebuchet MS';
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    margin-left: -10px;
    margin-right: 20px;
    text-shadow: 2px 2px #fff;
}

/*============= Styling Menu =============*/
nav .menu {
    float: right;
    gap: 1em;
    position: relative;
    background-color: rgba(65, 65, 65, 0.5);
    border-radius: 8px;
    margin: 10px 10px 10px 10px;
}

nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
    color: blue;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 8px;
    transition: 0.3s ease;
}

nav ul li a {
    font-size: 17.5px;
    color: #fff;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

.Sinyal {
    position: relative;
}

.dropdown {
    background-color: rgba(2, 189, 43, 0.8);
    padding: 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 40px;
    left: 20px;
    }

.dropdown li {
    font-size: 17.5px;
    color: #fff;
    width: 8em;
    text-align: left;
}

.dropdown li a {
  background-color: transparent;
  text-decoration: none;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.Sinyal:hover .dropdown {
    transition: 0.3s ease;
    display: block;
}

/*============= Styling Main Content =============*/
main {
    margin: auto;
    padding: 0%;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 0px;
    /* border-color: 2px solid #000; */
    margin-bottom: 10px;
}

article {
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}   

aside {
    background-color: #fff;
    align-content: center;
}

/*============= Section 1: Signal =============*/
.sig-inner {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    color: #000;
}

h2 {
    font-size: 22.5px;
    color: rgb(20, 20, 20);
}

h3 {
    font-size: 20px;
    color: rgb(43, 43, 43);
}
.step {
    display: table;
}

.sig-main {
    background-color: #b1b1b1;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

#description {
    background-color: #b1b1b1;
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px 10px 0px;
}

p {
    padding-bottom: 20px;
}

#img-wrapper {
    display: flex;
    position: relative;
    padding: 10px;
}

.responsive {
    display: block;
    margin: auto;
    width: 50%;
    min-width: 200px;
    height: auto;
    max-height: 50%;
}

/*============= Styling Footer =============*/
.foot-wrapper {
    width: 100%;
    background-color: rgb(2, 189, 42);
    position: sticky;
    list-style-type: none;
    align-items: center;
    text-align: center;
    line-height: 60px;
}



@media only screen and (max-width: 430px) {
    nav {
        background-color: rgb(4, 245, 56);
    }   
    nav .menu {
        float: left;
        scroll-behavior: smooth;
    }
  }

@media screen {
    
}